:root {
    --color-main: #228be6;
    --color-main-light-1: #e9f3fd; // #a7d1f5  #d3e8fa
    --color-main-light-2: #7ab9f0;
    --color-main-dark: #071c2e;
    --color-main-dark-2: #1861a1;

    --color-white: #fff;

    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;

    --color-grey-dark-1: #333;  
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;
}