.section-hero {
    background-color: var(--color-main-light-1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding: 4.8rem 4.8rem;
}

.hero {
    display: flex;
    align-items: center;
    gap: 4rem;

    &__btns {
        display: flex;
        gap: 1.6rem;
    }
}

.hero-desc {
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 4.8rem;
}

.text-box {
    flex: 0 0 52%;
    animation: moveInLeft 0.8s;
}

.img-box {
    animation: moveInRight 0.8s;
}

.section-benefits {
    background-color: var(--color-grey-light-1);
}

.section-testimonials {
    background-color: var(--color-grey-light-1);
    padding: 9.8rem 0;
}

.section-cta {
    padding: 9.8rem 4.8rem 12.8rem;
}

.section-steps {
    padding: 6.4rem 0 12.8rem;
}

.section-stats {
    background-color: #d3e8fa;

    h2 {
        font-size: 3.7rem;
    }
}

section {
    padding: 6.4rem 0;
}
