.btn {
    &,
    &:link,
    &:visited {
        display: inline-block;
        padding: 1.2rem 3.2rem;
        font-weight: 700;
        // font-size: 1.8rem;
        transition: all .3s;
        border-radius: 7px;
        border: none;
        cursor: pointer;
    }

    &:hover {
        box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
        transform: translateY(-.3rem);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
        transform: translateY(0);
    }

    &--full:link,
    &--full:visited {
        background-color: #64aeee;
        color: #fff;
        position: relative;
        
    }

    &--full:hover,
    &--full:active {
        background-color: var(--color-main-dark-2);
    }

    &--outline:link,
    &--outline:visited {
        border: 1px solid var(--color-main-dark-2);
        color: var(--color-grey-dark-1);
    }

    &--outline:hover,
    &--outline:active {
        background-color: var(--color-main-dark-2);
        color: #fff;

    }
}

.btn-contact {
    width: 50%;
}