.steps {
    padding: 0 3.2rem;
    &__flex {
        display: flex;
        gap: 6.4rem;
    }

    &__num {
        display: block;
        margin-bottom: -0.7rem;
        font-size: 7.2rem;
        background-image: linear-gradient(to bottom, var(--color-main-light-2), var(--color-main-dark-2));
        -webkit-background-clip: text;
        background-clip: text;
        -moz-background-clip: text;
        color: transparent;
    }
}
